@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
    @font-face {
        font-family: DM Sans;
        src: url(/fonts/DMSans-VariableFont_opsz,wght.ttf) format("ttf");
    }

    @font-face {
        font-family: DM Sans;
        font-style: italic;
        src: url(/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf) format("ttf");
    }
    :root {
        --terracotta: 253, 78, 78;
        --lazuli: 78, 78, 198;
        --raspberry: 49, 10, 101;
        --accent-gradient: linear-gradient(45deg,
                rgb(var(--terracotta)),
                rgb(var(--raspberry)) 30%,
                rgb(var(--lazuli)) 60%);
        --screenWidth: 100vw;
        --screenSizeSelector: 0;
        @screen sm {
            --screenSizeSelector: 1;
        }
        @screen md {
            --screenSizeSelector: 2;
        }
        @screen lg {
            --screenSizeSelector: 3;
        }
        @screen xl {
            --screenSizeSelector: 4;
        }
        @screen 2xl {
            --screenSizeSelector: 5;
        }
    }
    body {
        ::backdrop {
            backdrop-filter: blur(3px);
        }
        text-align: left;
    }
    .container-slim {
        @apply mx-auto w-[80%] lg:w-1/2;
    }
    h1, h2, h3 {
        @apply mb-4;
    }
    h1 {@apply text-4xl md:text-3xl;}
    h2 {@apply text-4xl md:text-3xl;}
    h3 {@apply text-3xl md:text-2xl;}
    h4 {@apply text-2xl md:text-xl;}
    h5 {
        @apply font-[900] text-xl md:text-lg uppercase text-sm tracking-wide ;
    }
    h6 { @apply font-[900]}
    a { @apply text-lazuli}
    .markdown {
        p {
            @apply max-w-[60ch] leading-6 mb-4;
        }
        blockquote {
            p {
                @apply text-lg md:text-xl lg:text-2xl  py-4 sm:py-8 sm:px-8 leading-8;
            }
        }
        ul  {
        @apply my-4;
            li {
                @apply list-disc pl-2 ml-6;
            }
        }
    }
}
@layer components {
    .slide {
        padding:0 1rem;            
        @apply relative grid;
        place-items: center;

        .inner {
            h1, h2, h3, h4, p, ul, ol {
                @apply mb-4;
            }
            text-align: left;
            @apply mx-auto w-[80%] sm:w-1/2;
        }      
    }
    .curved-headline {
        @apply absolute left-1/2 translate-x-[-50%];
        /* @apply w-[500px] sm:w-[800px] md:w-[1200px] lg:w-[2000px]; */
        width: 100vw;
        h1 {
            font-size: calc(6rem - 2.5vw);         
        }
        h2 {
            font-size: calc(6rem - 3vw);         
        }
        h3 {
            font-size: calc(4.5rem - 2.5vw);         
        }
        h4 {
            font-size: calc(6rem - 3vw);         
        }
    }
        /* Tooltip container */
        .tooltip {
            @apply relative inline-block ;
        }
        .inverted-header > h4 ,  .inverted-header > h4 + p {
            @apply text-stone-100;
        }
    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        @apply text-center text-terracotta bg-white p-2 absolute z-10 border-2 border-terracotta rounded-full bottom-2 right-2; 
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
    .cards-grid {
        @apply w-[80%] sm:w-full mx-auto overflow-visible grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-4;
    }
}