@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: DM Sans;
        src: url(/fonts/DMSans-VariableFont_opsz,wght.ttf) format("ttf");
    }

    @font-face {
        font-family: DM Sans;
        font-style: italic;
        src: url(/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf) format("ttf");
    }
    :root {
        --terracotta: 253, 78, 78;
        --lazuli: 78, 78, 198;
        --raspberry: 49, 10, 101;
        --accent-gradient: linear-gradient(45deg,
                rgb(var(--terracotta)),
                rgb(var(--raspberry)) 30%,
                rgb(var(--lazuli)) 60%);
    }
    body {
        
    }
    h1, h2, h3, h4 {
        @apply mb-4;
    }
    h1 {@apply text-3xl;}
    h2 {@apply text-3xl;}
    h3 {@apply text-2xl;}
    h4 {@apply text-xl;}
    h5 {
        @apply font-[900] text-lg uppercase text-sm tracking-wide ;
    }
    h6 { @apply font-[900]}
    a { @apply text-lazuli}
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    p {
        @apply max-w-[60ch];
    }
    blockquote {
        @apply text-2xl p-8;
        font-variation-settings: "wdth" 115;
        font-weight: 100;
    }
}
@layer components {
    .slide {
        padding:0 1rem;            
        @apply relative grid;
        place-items: center;

        .inner {
            h1, h2, h3, h4, p, ul, ol {
                @apply mb-4;
            }
            text-align: left;
            @apply mx-auto w-[80%] sm:w-1/2;
        }      
    }
    .curved-headline {
        @apply absolute left-0 sm:left-1/2 sm:translate-x-[-50%] w-[500px] sm:w-[800px] md:w-[1200px] lg:w-[2000px];
    }

}