---
import "../styles/base.css";
import siteConfig from "../data/site-config";
import Layout from "../layouts/Layout.astro";
---

<Layout title="MTK TaiChi München">
  <main>
    <hr />
    <h2>What is tai chi chuan?</h2>

    <div class="cards-array w-full flex flex-row gap-4">
      <div class="card">
        <h3>Why tai chi?</h3>
        <p>Its the best, just try it, you will love it for sure.</p>
      </div>
      <div class="card">
        <h3>For whom?</h3>
        <p>For everybody from 9 to 99</p>
      </div>
    </div>
    <hr />
    <h2>Beginner Classes</h2>
    <div class="cards-array w-full flex flex-row gap-4">
      <div class="card">
        <h3>Where and When?</h3>
        <p class="">
          There is no fixed place or time, yet. Lets meet in the english garden
          tomorrow!
        </p>
        <p class="">
          Contact me ~>
          <a
            href="mailto:malte.euler@gmail.com?subject=I%20want%20to%20learn%20Tai%20Chi"
            >malte.euler@gmail.com</a
          >
          and we find a time & place
        </p>
      </div>
    </div>
  </main>

  <style>
    .card {
      @apply h-[9rem] shrink w-full;

      h2 {
        @apply text-3xl border-b border-t mb-6 w-full;
      }
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    [role="doc-subtitle"] {
      font-size: 1.5rem;
    }
  </style>
</Layout>
