---
const { target, href, class: className, ...props } = Astro.props;
---

<button
  class:list={[
    "bg-lazuli hover:bg-terracotta px-2 py-0 m-0 leading-tight rounded-full border-0",
    className,
  ]}
>
  <a
    class="text-white tracking-wider decoration-none"
    href={href}
    target={target}
  >
    <slot />
  </a>
</button>
