---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { title, meta, color, class: className, ...props } = Astro.props;
const headerBgClass = `bg-${color}`;
const borderColor = `border-${color}`;
---

<div
  class:list={["group my-2 border-l-2 overvlow-hidden", borderColor, className]}
>
  <div class="p-4 max-w-[70ch]">
    <slot />
  </div>
  <div
    class:list={[
      "px-4 py-1 flex flex-col sm:flex-row items-baseline sm:gap-4",
      headerBgClass,
    ]}
  >
    <h4 class="text-base">
      {t("card.grading")}{title}
    </h4>
    <p class="sm:invisible group-hover:visible !mb-0">{meta}</p>
  </div>
</div>
