---
const { title, meta, class: className, ...props } = Astro.props;
---

<div class:list={["p-4 rounded-2xl", className]}>
  <div class="flex flex-row items-baseline gap-4">
    <h3>
      {title}
    </h3>
    <p>{meta}</p>
  </div>
  <slot />
</div>
