---
const { title, meta, color, class: className, ...props } = Astro.props;
const headerBgClass = `bg-${color}`;
const borderColor = `border-${color}`;
---

<div
  class:list={[
    "group rounded-lg my-2 border-4 overvlow-hidden",
    borderColor,
    className,
  ]}
>
  <div
    class:list={[
      "px-4 min-h-20 pt-2 flex flex-col sm:flex-row items-baseline sm:gap-4",
      headerBgClass,
    ]}
  >
    <h3>
      {title}
    </h3>
    <p class="sm:invisible group-hover:visible">{meta}</p>
  </div>
  <div class="p-4">
    <slot />
  </div>
</div>
