---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { title, meta, color, class: className, ...props } = Astro.props;
---

<div
  id="contact"
  class:list={[className, "p-12 bg-stone-50 flex flex-col mb-24 rounded-lg"]}
>
  <div class="flex flex-col sm:flex-row mb-8 gap-4">
    <img
      class="w-1/2"
      src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExczE4MjU0NHJnMmp3NWQ3aTU0MmZjb3R3ZWNqYTFmNjJ2bHZweXQ1ayZlcD12MV9naWZzX3NlYXJjaCZjdD1n/jXtdnZlhK7Fbfo4Ioc/200.webp"
      alt="Kung Fu Panda finds inner peace"
    />
    <h2>{t("contact.greeting")}</h2>
  </div>
  <form class="" x-data="contactForm()" @submit.prevent="submit">
    <label>
      <span>{t("contact.name")}</span>
      <input name="name" x-model="data.name" required="true" />
    </label>
    <label>
      <span>{t("contact.email")}</span>
      <input name="email" x-model="data.email" required="true" />
    </label>
    <label>
      <span>{t("contact.question")}</span>
      <textarea name="message" x-model="data.message"></textarea>
    </label>

    <checkbox name="privacycheck" x-model="data.privacy"
      >{t("contact.privacy")}</checkbox
    >
    <span>{t("contact.necessary")}</span>

    <button type="submit" x-text="buttonText" :disabled="loading">
      {t("contact.send")}
    </button>
  </form>

  <script is:inline>
    const FORMSPARK_ACTION_URL = "https://submit-form.com/skLLruCyj";

    function contactForm() {
      return {
        data: {
          name: "",
          email: "",
          message: "",
        },
        buttonText: "Send",
        loading: false,
        submit() {
          this.buttonText = "Sending...";
          this.loading = true;
          fetch(FORMSPARK_ACTION_URL, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              Accept: "application/json",
            },
            body: JSON.stringify(this.data),
          })
            .then(() => {
              alert("Form sent");
            })
            .catch(() => {
              alert("Something went wrong");
            })
            .finally(() => {
              this.data.message = "";
              this.data.email = "";
              this.buttonText = "Sendç";
              this.loading = false;
            });
        },
      };
    }
  </script>
  <style>
    form {
      @apply flex flex-col gap-4;
    }
    label {
      @apply flex flex-col;
      input,
      textarea {
        @apply p-2 border border-stone-300 rounded-sm;
      }
    }
    button {
      @apply bg-lazuli text-white py-2 px-4 rounded-lg hover:bg-terracotta;
    }
  </style>
</div>
