---
const { tag = "h2", type, class: className, ...props } = Astro.props;
const allowedTags = ["h1", "h2", "h3", "h4", "h5", "h6"];
const headlineTag = allowedTags.includes(tag) ? tag : "h2";
---

<div
  class="absolute w-[1200px] top-[-20%] left-0 uppercase font-extrabold text-sm tracking-wider !text-purple"
>
  <Fragment set:html={`<${headlineTag}>`}>
    <svg viewBox="0 0 220 220">
      <path
        id="curve"
        fill="transparent"
        stroke="#0000c8"
        stroke-width="0.1"
        d="
        M 110,110
        m -100,0
        a 200,200
        0
        0,1
        200,0"
      ></path>
      <text width="500">
        <textPath href="#curve" class="animated-text" startOffset="0">
          <slot />
        </textPath>
      </text>
    </svg>
  </Fragment>
</div>
<div class="spacer h-[200px]"></div>

<style>
  .animated-text {
    startoffset: var(--scroll);
  }
</style>
<script is:inline>
  const textPath = document.querySelector("textPath");
  window.addEventListener(
    "scroll",
    () => {
      const startOffset =
        window.pageYOffSet ||
        (document.documentElement.scrollTop /
          (document.body.offsetHeight - window.innerHeight)) *
          300;
      textPath.setAttribute("startOffset", startOffset);
    },
    false
  );
</script>
