---
import siteConfig from "../data/site-config";
import Nav from "../components/Nav.astro";
---

<header class="w-full my-12 sm:mb-16">
  {
    siteConfig.logo && siteConfig.logo?.src ? (
      <a href="/">
        <img
          src={siteConfig.logo.src}
          alt={siteConfig.logo.alt || ""}
          class="max-h-12"
        />
      </a>
    ) : (
      <a class="text-gradient text-[4rem] leading-none" href="/">
        {siteConfig.title}
      </a>
    )
  }
  {
    siteConfig.subtitle && (
      <p class="text-2xl leading-tight">{siteConfig.subtitle}</p>
    )
  }
</header>
