---
import { languages } from "../i18n/ui";
import { getLangFromUrl } from "../i18n/utils";
const thislang = getLangFromUrl(Astro.url);
---

<ul class="flex flex-row">
  {
    Object.entries(languages).map(([lang]) => (
      <li class="py-1">
        <a
          class:list={[
            "uppercase hover:border-b-2 border-lazuli",
            lang === thislang
              ? "border-t-2 border-terracotta text-terracotta"
              : "font-normal",
          ]}
          href={`/${lang}/`}
        >
          {lang}
        </a>
      </li>
    ))
  }
</ul>

<style>
  li:not(:last-of-type):after {
    content: "/";
    display: inline-block;
    margin-left: -0.25em;
  }
  li:hover {
  }
</style>
