---
const { title, meta, color, class: className, ...props } = Astro.props;
import { Image } from "astro:assets";
---

<div class="flex flex-row lg:flex-col lg:fixed p-2 sm:p-2 mt-12">
  <Image
    src="/img/TCC_MTK_MUC_red.png"
    width="120"
    height="120"
    alt="Tai Chi Chuan Ma Tsun Kuen Munich Logo"
  />
  <Image
    src="/img/MTK_logo_light.png"
    width="120"
    height="120"
    alt="Ma Tsun Kuen Logo"
  />
</div>
