---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  class:list={[
    className,
    "hover:border-b-2 hover:border-lazuli",
    { "md:border-t-2 border-terracotta text-terracotta": isActive },
  ]}
  href={href}
  {...props}
>
  <slot />
</a>
