---
import "../../styles/base.css";
import siteConfig from "../../data/site-config";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="MTK TaiChi München">
  <main>
    <div>
      one part is still, all parts are still and <br />if one part moves, all
      the parts move
      <h2>What are we learning?</h2>
      Standing Practice Ma Bu: Riders stance,Ting Bu: one footed stance, Gung Bu:
      Bow stance Tsaos Transletes to exercise, it is a set of 6 exercises that combine
      relaxion with coordination and build the foundation to all other elements of
      the practice. > if Forms - Short Form - the daily practice - Long Form - a
      library of techniques, it follows the images form the yang long form - Fast
      Form - for practicing with actual speed and momentum - _Partner Form_ - _Sword
      Form_ - _Saber Form_ - _Spear Form_ Partner patterns There are some fixed partner
      exercises, that deal with distance, movement and balance. Daoist Breathing
      reverse Breathing I Ching Kung Set A set of Ten Qigong Exercises, that include
      elements of the Ba Duan Jing (eight Brocades Qi Gong) and I Jin Jing. Free
      Tui Shou Practice
    </div>
  </main>

  <style>
    .card {
      @apply h-[9rem] shrink w-full;

      h2 {
        @apply text-3xl border-b border-t mb-6 w-full;
      }
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    [role="doc-subtitle"] {
      font-size: 1.5rem;
    }
  </style>
</Layout>
