---
import "../../styles/base.css";
import siteConfig from "../../data/site-config";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="MTK TaiChi München">
  <main class="">
    <section class="slide">
      <div class="inner">
        <h2 class="mb-4">Mission and Vision</h2>
        <p class="mb-4">
          We are dedicated to explore the original Tai Chi Chuan and its
          miraculous effects on the body and the mind.
        </p>
        <p>
          Elasticity instead of Rigidity, connection instead of isolation,<br />
          integral efficient movement instead of mechanical effort.<br />
          Relaxation without collapsing, naturalness without excess.<br />
          —<br />
          Philosophy through the body.
        </p>
        <p><span class=""> Come and learn Tai Chi Chuan with us. </span></p>
      </div>
    </section>
    <section class="slide">
      <div class="inner">
        <h2 class="mb-4">Mission and Vision</h2>
        <p class="mb-4">
          We are dedicated to explore the original Tai Chi Chuan and its
          miraculous effects on the body and the mind.
        </p>
        <p>
          Elasticity instead of Rigidity, connection instead of isolation,<br />
          integral efficient movement instead of mechanical effort.<br />
          Relaxation without collapsing, naturalness without excess.<br />
          —<br />
          Philosophy through the body.
        </p>
        <p><span class=""> Come and learn Tai Chi Chuan with us. </span></p>
      </div>
    </section>
  </main>

  <style>
    .slide {
      height: 100svh;
      @apply grid snap-always snap-start;
      place-items: center;
      .inner {
        text-align: left;
      }
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    [role="doc-subtitle"] {
      font-size: 1.5rem;
    }
  </style>
</Layout>
