---
import Layout from "./Layout.astro";
import Contactform from "../components/Contactform.astro";
---

<Layout>
  <div class="container-slim markdown">
    <slot />
    <Contactform class="mt-24" />
  </div>
</Layout>
